services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} # Use variable
      MYSQL_DATABASE: ats_db
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER:guest}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASSWORD:guest}
    ports:
      - "5672:5672"
      - "15672:15672"

  app:
    build: .
    depends_on:
      - mysql
      - rabbitmq
    environment:
      - DB_HOST=mysql
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - EMAIL_PASS=${EMAIL_PASS}