services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ats_db
      MYSQL_USER: ats_user
      MYSQL_PASSWORD: strongpass
    ports:
      - "3307:3306"   # map host 3307 -> container 3306 to avoid collisions
    healthcheck:
      test: ["CMD-SHELL","mysqladmin ping -h localhost -prootpass"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5673:5672"   # host 5673 -> container 5672 (to avoid collisions)
      - "15673:15672" # management UI mapped to 15673