server:
  port: 8081

spring:
  # Database Configuration
  datasource:
    # Uses port 3306 for your Windows setup, but allows the evaluator to change it
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_DATABASE:ats_db}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USER:root}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA / Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # RabbitMQ Configuration
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASSWORD:guest}

  # Email Configuration (Requirement 2)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER:siriganisetti89@gmail.com}
    password: ${EMAIL_PASS} # Must be the 16-digit Google App Password
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

# JWT Security Configuration (Requirement 6)
app:
  jwt:
    # This ensures no hardcoded secret exists in the code
    secret: ${JWT_SECRET:v9y$B&E)H@McQfTjWnZr4u7x!A%C*F-JaNdRgUkXp2s5v8y/B?E(G+KbPeShVmYp}
    expiration-ms: 3600000 # 1 hour